h1 {
    color: white;
    border: 2px solid #1158C7;
    padding: 15px;
    background-color: #1158C7;
}

#input-title, #input-description {
    width: 200px;
    padding: 8px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

#btn-submit {
    width: 100px;
    height: 35px;
    cursor: pointer;
    margin-left: 20px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#card {
    margin: 20px;
    border: 2px solid black;
    padding: 40px;
    display: grid;
    grid-template-areas: "card-image card-description";
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1.5fr;
    column-gap: 50px;
    box-shadow: 5px 10px 8px #888888;
}

#card > #card-image {
    grid-area: card-image;
}

#card > #card-image > #card-back-image {
    width: 300px;
    height: 220px;
    background-color: gray;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, alpha0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#card > #card-description {
    grid-area: card-description;
    display: flex;
    flex-direction: column;
    flex: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#card > #card-description > #card-description-albums {
    margin-bottom: 10px;
}
#card > #card-description > #card-description-albums {
    margin-bottom: 10px;
}

#card > #card-description > #card-description-title {
    margin-bottom: 1px;
    font-size: 32px;
}

#card > #card-description > #card-description-artist {
    margin-bottom: 25px;
}
#card > #card-description > #card-description-button {
    width: 100px;
    height: 35px;
    cursor: pointer;
    background-color: palevioletred;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
